body {
  background-color: #333;
  padding-top: 200px;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.present {
  width: 420px;
  margin: 0 auto;
}

.lid {
  top: 0;
  left: 0;
  width: 400px;
  background: radial-gradient(
    white 15%,
    transparent 15.1%,
    rgb(240, 58, 58) 10%
  );
  background-size: 50px 50px;
  height: 70px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
  padding: 0 2px;
  transition: all ease-out 0.5s;
}

.content {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  position: relative;
  top: 10px;
  height: 0;
  transition: top ease-out 0.5s, transform ease-out 0.5s, left ease-out 0.5s;
}

.box {
  position: relative;
  background: radial-gradient(
    white 15%,
    transparent 15.1%,
    rgb(240, 58, 58) 10%
  );
  background-size: 50px 50px;
  /* background-position: 0 0, 25px 25px; */
  width: 400px;
  height: 250px;
}

.box span,
.lid span {
  position: absolute;
  background-color: rgb(235, 199, 0, 0.8);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.box span:first-of-type {
  top: 30%;
  height: 60px;
  width: 100%;
}

.box span:last-of-type,
.lid span {
  left: 170px;
  height: 100%;
  width: 60px;
}

.present:hover .lid {
  top: -110px;
  transform: rotate(10deg);
  left: 10px;
}

.present:hover .content {
  top: -105px;
}
